@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(243.18deg, #9002FF 0%, #00F0FF 100%) no-repeat;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: inline-flex;
    margin-top: 160px;
    margin-bottom: 74px;
}

.title h1 {
    font-size: 72px;
    color: white;
    margin-right: 14px;
}

.title img {
    height: 70px;
    width: 70px;
}

.dolar-real {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.dolar-real .content-text {
    display: inline-flex;
    margin-bottom: 30px;
}

.dolar-real .content-text p {
    font-size: 36px;
    color: white;
    margin-right: 13px;
}

.dolar-real .content-text img {
    height: 40px;
    width: 40px;
}

.dolar-real .entrada {
    display: inline-flex;
}

.dolar-real .entrada input {
    width: 200px;
    height: 40px;
    border: none;
    background: #FFF;
}

.dolar-real .entrada button {
    width: 40px;
    height: 40px;
    border: none;
    background: #9002FF;
}

.dolar-real .entrada button img {
    height: 20px;
    width: 20px;
}

.libra-real {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.libra-real .content-text {
    display: inline-flex;
    margin-bottom: 30px;
}

.libra-real .content-text p {
    font-size: 36px;
    color: white;
    margin-right: 13px;
}

.libra-real .content-text img {
    height: 40px;
    width: 40px;
}

.libra-real .entrada {
    display: inline-flex;
}

.libra-real .entrada input {
    width: 200px;
    height: 40px;
    border: none;
    background: #FFF;
}

.libra-real .entrada button {
    width: 40px;
    height: 40px;
    border: none;
    background: #9002FF;
}

.libra-real .entrada button img {
    height: 20px;
    width: 20px;
}

.celsius-fahr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.celsius-fahr .content-text {
    display: inline-flex;
    margin-bottom: 30px;
}

.celsius-fahr .content-text p {
    font-size: 36px;
    color: white;
    margin-right: 13px;
}

.celsius-fahr .content-text img {
    height: 40px;
    width: 40px;
}

.celsius-fahr .entrada {
    display: inline-flex;
}

.celsius-fahr .entrada input {
    width: 200px;
    height: 40px;
    border: none;
    background: #FFF;
}

.celsius-fahr .entrada button {
    width: 40px;
    height: 40px;
    border: none;
    background: #9002FF;
}

.celsius-fahr .entrada button img {
    height: 20px;
    width: 20px;
}

.modal {
    visibility: hidden;
    position: fixed;
    width: 800px;
    height: 400px;
    box-sizing: border-box;
    background: #FFF;
    border: solid 3px #9002FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal .modal-content  h2{
    font-size: 48px;
    background: -webkit-linear-gradient(243.18deg, #9002FF 0%, #00F0FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -80px;
    margin-bottom: 100px;
    text-align: center;
}

.modal .modal-content  p{
    font-size: 48px;
    background: -webkit-linear-gradient(243.18deg, #9002FF 0%, #00F0FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.close {
    color: #9002FF;
    position: relative;
    left: 600px;
    bottom: 90px;
    font-size: 48px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #00F0FF;
    text-decoration: none;
    cursor: pointer;
  }

